.flows_BNGECO-L-87179.json.backup
[{"id":"c6f43af2.cdbc18","type":"tab","label":"db admin","disabled":false,"info":""},{"id":"9e53bdb.78bc74","type":"tab","label":"Login","disabled":false,"info":""},{"id":"1f0318f.5ea84e7","type":"tab","label":"Sign Up","disabled":false,"info":""},{"id":"d1ec0318.7fda6","type":"tab","label":"Change Password","disabled":false,"info":""},{"id":"72a95a2d.23d634","type":"tab","label":"Forgot Password","disabled":false,"info":""},{"id":"a4a8a1a9.839b5","type":"tab","label":"User count","disabled":false,"info":""},{"id":"cf9a2708.67b9e8","type":"sqlitedb","db":"C:\\Users\\shreyas.kaup\\Desktop\\DB\\newDb.db","mode":"RWC"},{"id":"31df0af7.19cd76","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"848dd649.3d99c8","type":"ui_link","name":"Link 1","icon":"open_in_browser","target":"newtab","order":1},{"id":"fa855135.f968d","type":"http in","z":"1f0318f.5ea84e7","name":"get signup","url":"/signup","method":"get","upload":false,"swaggerDoc":"","x":180,"y":120,"wires":[["99e2ef63.c0e25"]]},{"id":"99e2ef63.c0e25","type":"template","z":"1f0318f.5ea84e7","name":"signup form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n      <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css\" integrity=\"sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn\" crossorigin=\"anonymous\">\n  </head>\n  <body style=\"background-color:#c3dfe0;\">\n    <div style=\"width: 960px;margin: 0 auto;text-align: center;\">\n      <div style=\"width: 400px;margin: 0 auto; padding: 40px 20px; background: #8ba2a3;margin-top: 20px;border-radius: 20px;\">\n    <form action=\"/signup\" method=\"post\">\n      <h2>Sign up</h1>\n      <p><input type=\"text\" name=\"username\" placeholder='Enter User Name'/ style=\"width: 280px; padding: 5px 10px; outline: none; border: none;border-radius: 8px;\" /> </p>\n      <p><input type=\"password\" name=\"password\" placeholder='Enter Password' style=\"width: 280px; padding: 5px 10px; outline: none; border: none;border-radius: 8px;\" /> </p>\n      <p><input type=\"password\" name=\"reEnterPassword\" placeholder='Re-Enter Password' style=\"width: 280px; padding: 5px 10px; outline: none; border: none;border-radius: 8px;\" /> </p>      \n      <p>Which is your favourite sport? </p>\n      <p><input type=\"text\" name=\"securityQn\" placeholder='Answer security question' style=\"width: 280px; padding: 5px 10px; outline: none; border: none;border-radius: 8px;\" /> </p>      \n      <input type=\"submit\" value='SignUp' style=\" width: 200px; color: #fff; background: #778e8f; text-align: center; margin-top: 40px; font-weight: bold;\"/>\n    </form>\n    <form method=\"get\" action=\"/login\" >\n    <button type=\"submit\" value='Login' style=\" width: 200px; color: #fff; background: #778e8f; text-align: center; margin-top: 20px; font-weight: bold;\">Login</button>\n    </form>\n    </div>\n    </div>\n  </body>\n</html>  ","output":"str","x":400,"y":120,"wires":[["588518c.7dbc4e8"]]},{"id":"588518c.7dbc4e8","type":"http response","z":"1f0318f.5ea84e7","name":"","statusCode":"","headers":{},"x":590,"y":120,"wires":[]},{"id":"c26f0273.6c0d3","type":"sqlite","z":"c6f43af2.cdbc18","mydb":"cf9a2708.67b9e8","sqlquery":"msg.topic","sql":"SELECT * FROM users","name":"db","x":690,"y":200,"wires":[[]]},{"id":"1c059e26.557212","type":"http in","z":"a4a8a1a9.839b5","name":"","url":"/check","method":"get","upload":false,"swaggerDoc":"","x":300,"y":180,"wires":[["1937fd44.1c0533"]]},{"id":"1937fd44.1c0533","type":"sqlite","z":"a4a8a1a9.839b5","mydb":"cf9a2708.67b9e8","sqlquery":"fixed","sql":"SELECT * FROM user","name":"db","x":480,"y":180,"wires":[["869a9e64.a1ac8","1a1ccb84.e06f04"]]},{"id":"1a1ccb84.e06f04","type":"debug","z":"a4a8a1a9.839b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":260,"wires":[]},{"id":"8a1cbc2.e26054","type":"http in","z":"9e53bdb.78bc74","name":"get login","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":180,"y":60,"wires":[["e804a1f8.6f57f"]]},{"id":"e804a1f8.6f57f","type":"template","z":"9e53bdb.78bc74","name":"login Form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n      <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css\" integrity=\"sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn\" crossorigin=\"anonymous\">\n  </head>\n  <body style=\"background-color:#c3dfe0;\">\n    <div style=\"width: 960px;margin: 0 auto;text-align: center;\">\n      <div style=\"width: 400px;margin: 0 auto; padding: 40px 20px; background: #8ba2a3;margin-top: 20px;border-radius: 20px;\">\n    <form action=\"/login\" method=\"post\">\n      <h2>Login</h2>\n      <p>Enter credentials to login</p>\n      <p><input type=\"text\" name=\"username\" placeholder='Enter User Name'/ style=\"width: 280px; padding: 5px 10px; outline: none; border: none;border-radius: 8px;\"></p>\n      <p><input type=\"password\" name=\"password\" placeholder='Enter Password' style=\"width: 280px; padding: 5px 10px; outline: none; border: none;border-radius: 8px;\" /></p>\n      <input type=\"submit\" value='Login' style=\" width: 200px; color: #fff; background: #778e8f; text-align: center; margin-top: 40px; font-weight: bold;\" />\n    </form>\n    <form method=\"get\" action=\"/changePassword\">\n    <button type=\"submit\" style=\" width: 200px; color: #fff; background: #778e8f; text-align: center; margin-top: 5px; font-weight: bold;\">Change Password</button></button>\n    </form>\n    <form method=\"get\" action=\"/forgotPassword\">\n    <button type=\"submit\" style=\" width: 200px; color: #fff; background: #778e8f; text-align: center; margin-top: 5px; font-weight: bold;\">Forgot Password ?</button></button>\n    </form>\n    <p>Don't Have an Account ? Sign up !</p>\n     <form method=\"get\" action=\"/signup\">\n    <button type=\"submit\" style=\" width: 100px; color: #fff; background: #778e8f; text-align: center; margin-top: 10px; font-weight: bold;\">Sign Up</button></button>\n    </form>\n    </div>\n    </div>\n  </body>\n</html>  ","output":"str","x":390,"y":60,"wires":[["425712fa.d462ac"]]},{"id":"425712fa.d462ac","type":"http response","z":"9e53bdb.78bc74","name":"","statusCode":"","headers":{},"x":630,"y":60,"wires":[]},{"id":"5679f0d4.97384","type":"http in","z":"d1ec0318.7fda6","name":"Get change Password","url":"/changePassword","method":"get","upload":false,"swaggerDoc":"","x":280,"y":80,"wires":[["a0962201.ee8e7"]]},{"id":"a0962201.ee8e7","type":"template","z":"d1ec0318.7fda6","name":"change password form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n      <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css\" integrity=\"sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn\" crossorigin=\"anonymous\">\n  </head>\n  <body style=\"background-color:#c3dfe0;\">\n    <div style=\"width: 960px;margin: 0 auto;text-align: center;\">\n      <div style=\"width: 400px;margin: 0 auto; padding: 40px 20px; background: #8ba2a3;margin-top: 20px;border-radius: 20px;\">\n    <form action=\"/changePassword\" method=\"post\">\n      <h2>Change password</h2>\n      <br/>\n      <p> <input type=\"text\" name=\"username\" placeholder='Enter User Name'/ style=\"width: 280px; padding: 5px 10px; outline: none; border: none;border-radius: 8px;\" /> </p>\n      <p><input type=\"password\" name=\"oldPassword\" placeholder='Enter Old Password'/ style=\"width: 280px; padding: 5px 10px; outline: none; border: none;border-radius: 8px;\" /> </p>\n      <p><input type=\"password\" name=\"newPassword\" placeholder='Enter New Password'/ style=\"width: 280px; padding: 5px 10px; outline: none; border: none;border-radius: 8px;\" /> </p>\n      <input type=\"submit\" style=\" width: 200px; color: #fff; background: #778e8f; text-align: center; margin-top: 10px; font-weight: bold;\" />\n    </form>\n    </div>\n    </div>\n  </body>\n</html>  \n\n\n\n","output":"str","x":520,"y":80,"wires":[["4b599f7f.046bf"]]},{"id":"4b599f7f.046bf","type":"http response","z":"d1ec0318.7fda6","name":"","statusCode":"","headers":{},"x":730,"y":80,"wires":[]},{"id":"5ef7155b.59596c","type":"inject","z":"c6f43af2.cdbc18","name":"Clear userTable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DELETE from user","payload":"","payloadType":"date","x":460,"y":280,"wires":[["c26f0273.6c0d3"]]},{"id":"da896fd9.08fd8","type":"http in","z":"d1ec0318.7fda6","name":"[post] Change password","url":"/changePassword","method":"post","upload":false,"swaggerDoc":"","x":170,"y":260,"wires":[["59fffba4.23e994"]]},{"id":"59fffba4.23e994","type":"template","z":"d1ec0318.7fda6","name":"change password db query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE user SET password = \n'{{payload.newPassword}}' WHERE username = '{{payload.username}}' AND \nEXISTS( SELECT * FROM user WHERE username = \n'{{payload.username}}' AND password = '{{payload.oldPassword}}')","output":"str","x":480,"y":320,"wires":[["9e9c0983.d67458"]]},{"id":"9e9c0983.d67458","type":"sqlite","z":"d1ec0318.7fda6","mydb":"cf9a2708.67b9e8","sqlquery":"msg.topic","sql":"","name":"db","x":680,"y":260,"wires":[["b3efaa8f.b30288","365e09c6.997256"]]},{"id":"b3efaa8f.b30288","type":"debug","z":"d1ec0318.7fda6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":340,"wires":[]},{"id":"365e09c6.997256","type":"function","z":"d1ec0318.7fda6","name":"","func":"msg.res.redirect(\"/login\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"869a9e64.a1ac8","type":"template","z":"a4a8a1a9.839b5","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":610,"y":360,"wires":[["aa414452.5e4ce8"]]},{"id":"aa414452.5e4ce8","type":"http response","z":"a4a8a1a9.839b5","name":"","statusCode":"","headers":{},"x":760,"y":400,"wires":[]},{"id":"3a5eaeca.107a62","type":"inject","z":"c6f43af2.cdbc18","name":"create users table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE user(username, password, securityQn, UNIQUE(username))","payload":"","payloadType":"date","x":450,"y":140,"wires":[["c26f0273.6c0d3"]]},{"id":"810fed44.10afd","type":"http in","z":"72a95a2d.23d634","name":"Get forgot Password","url":"/forgotPassword","method":"get","upload":false,"swaggerDoc":"","x":290,"y":80,"wires":[["35683ef4.9bc102"]]},{"id":"35683ef4.9bc102","type":"template","z":"72a95a2d.23d634","name":"forgot password form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n      <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css\" integrity=\"sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn\" crossorigin=\"anonymous\">\n  </head>\n  <body style=\"background-color:#c3dfe0;\">\n    <div style=\"width: 960px;margin: 0 auto;text-align: center;\">\n      <div style=\"width: 400px;margin: 0 auto; padding: 40px 20px; background: #8ba2a3;margin-top: 20px;border-radius: 20px;\">\n    <form action=\"/forgotPassword\" method=\"post\">\n      <h2>Reset password</h2>\n      <br/>\n      <p> <input type=\"text\" name=\"username\" placeholder='Enter User Name'/ style=\"width: 280px; padding: 5px 10px; outline: none; border: none;border-radius: 8px;\" /> </p>\n      <p>Which is your favourite sport? </p>\n      <p><input type=\"text\" name=\"securityQn\" placeholder='Answer security question' style=\"width: 280px; padding: 5px 10px; outline: none; border: none;border-radius: 8px;\" /> </p>    \n    <p><input type=\"password\" name=\"newPassword\" placeholder='Enter New Password'/ style=\"width: 280px; padding: 5px 10px; outline: none; border: none;border-radius: 8px;\" /> </p>\n      <input type=\"submit\" style=\" width: 200px; color: #fff; background: #778e8f; text-align: center; margin-top: 10px; font-weight: bold;\" />\n    </form>\n    </div>\n    </div>\n  </body>\n</html>  \n\n\n\n","output":"str","x":560,"y":80,"wires":[["e77226a6.43ec28"]]},{"id":"e77226a6.43ec28","type":"http response","z":"72a95a2d.23d634","name":"","statusCode":"","headers":{},"x":830,"y":80,"wires":[]},{"id":"1da9a574.1b3b7b","type":"http in","z":"72a95a2d.23d634","name":"[post] forgot password","url":"/forgotPassword","method":"post","upload":false,"swaggerDoc":"","x":220,"y":280,"wires":[["45459cee.cca874"]]},{"id":"45459cee.cca874","type":"template","z":"72a95a2d.23d634","name":"query to reset password","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE user SET password = \n'{{payload.newPassword}}' WHERE username = '{{payload.username}}' AND securityQn = '{{payload.securityQn}}'","output":"str","x":530,"y":280,"wires":[["ea39dd65.c1575"]]},{"id":"ea39dd65.c1575","type":"sqlite","z":"72a95a2d.23d634","mydb":"cf9a2708.67b9e8","sqlquery":"msg.topic","sql":"","name":"db","x":650,"y":280,"wires":[["53bc51fa.2cd39"]]},{"id":"53bc51fa.2cd39","type":"function","z":"72a95a2d.23d634","name":"","func":"msg.res.redirect(\"/login\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":260,"wires":[[]]},{"id":"d4647c32.59cc4","type":"http in","z":"9e53bdb.78bc74","name":"[post] login","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["7ac062e4.4e4b0c"]]},{"id":"df409ec9.9572d","type":"sqlite","z":"9e53bdb.78bc74","mydb":"cf9a2708.67b9e8","sqlquery":"msg.topic","sql":"","name":"db","x":470,"y":320,"wires":[["792ac3b9.dbafcc"]]},{"id":"7ac062e4.4e4b0c","type":"template","z":"9e53bdb.78bc74","name":"check login credentials","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM user WHERE username = '{{payload.username}}' AND password = '{{payload.password}}'","output":"str","x":360,"y":200,"wires":[["df409ec9.9572d"]]},{"id":"792ac3b9.dbafcc","type":"switch","z":"9e53bdb.78bc74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":380,"wires":[["446495dc.c11ddc"],["91dbf02f.9db1e"]]},{"id":"446495dc.c11ddc","type":"template","z":"9e53bdb.78bc74","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n  <title>Our Company</title>\n</head>\n\n<body style=\"background-color:#c3dfe0;\">\n\n <div style=\"width: 960px;margin: 0 auto;text-align: center;margin-top:100px;\"><h1>Welcome</h1>\n  <form method=\"get\" action=\"/login\" >\n    <button type=\"submit\" value='Login' style=\" width: 200px; color: #fff; background: #778e8f; text-align: center; margin-top: 20px; font-weight: bold;\">LOGOUT</button>\n    </form>\n\n  </div> \n  <!-- <h2>Web Site Main Ingredients:</h2>\n\n  <p>Pages (HTML)</p>\n  <p>Style Sheets (CSS)</p>\n  <p>Computer Code (JavaScript)</p>\n  <p>Live Data (Files and Databases)</p> -->\n\n</body>\n</html>","output":"str","x":780,"y":320,"wires":[["c228e009.1aada"]]},{"id":"c228e009.1aada","type":"http response","z":"9e53bdb.78bc74","name":"","statusCode":"","headers":{},"x":930,"y":340,"wires":[]},{"id":"91dbf02f.9db1e","type":"function","z":"9e53bdb.78bc74","name":"","func":"msg.res.redirect(\"/login\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":440,"wires":[[]]},{"id":"2cd9cf0c.7d6ae","type":"debug","z":"1f0318f.5ea84e7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":380,"wires":[]},{"id":"241117b0.974f08","type":"sqlite","z":"1f0318f.5ea84e7","mydb":"cf9a2708.67b9e8","sqlquery":"msg.topic","sql":"SELECT * FROM users","name":"db","x":670,"y":380,"wires":[["2cd9cf0c.7d6ae","6d16c56.00b723c"]]},{"id":"1e371e2e.e14ea2","type":"http in","z":"1f0318f.5ea84e7","name":"","url":"/signup","method":"post","upload":false,"swaggerDoc":"","x":130,"y":260,"wires":[["50c6ccc9.936ed4"]]},{"id":"3265a011.55036","type":"template","z":"1f0318f.5ea84e7","name":"insert new record to db","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO user VALUES('{{payload.username}}', '{{payload.password}}', '{{payload.securityQn}}')","output":"str","x":700,"y":260,"wires":[["241117b0.974f08"]]},{"id":"6d16c56.00b723c","type":"function","z":"1f0318f.5ea84e7","name":"","func":"msg.res.redirect(\"/login\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":520,"wires":[[]]},{"id":"50c6ccc9.936ed4","type":"switch","z":"1f0318f.5ea84e7","name":"check if details entered are valid","property":"payload.password","propertyType":"msg","rules":[{"t":"eq","v":"payload.reEnterPassword","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":260,"wires":[["3265a011.55036"],["54ef2c06.9c5fd4"]]},{"id":"54ef2c06.9c5fd4","type":"function","z":"1f0318f.5ea84e7","name":"invalid details","func":"msg.res.redirect(\"/signup\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":380,"wires":[[]]}]